<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p></p>
    <h2>Valor da correlação entre {{ind1}} x {{ind2}}: {{valor}}</h2>
    <form action="/salvarcorrelacaobd" method="post">
        <input name="ind1" value="{{ind1}}" type="hidden">
        <input name="ind2" value="{{ind2}}" type="hidden">
        <input name="valorcorrelacao" value="{{valor}}" type="hidden">
        <button type="submit">Salvar</button>
    </form>
    <br>
    {{plot|safe}}

</body>
</html>