<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div style="background-color:red">
        <h1>HAHAHAHHA o bicho vai pegar</h1>

    </div>
    <div>
        <form action="/cadastrar" method="post">
            <label>login</label>
            <input type="text" name="nome">
            <br>
            <label>senha</label>
            <input type="password" name="senha">
            <br>
            <button>Enviar</button>
        </form>
    </div>

</body>
</html>